@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');

* {
    margin: 0;
    padding: 0;
}
Body {
    Width:100%;
    Min-height:100vh;
    }
.wrapper {
    width:100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
    

#quote-box {
    
    margin: auto;
    padding: 1.5em;
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: beige;
    
    
 
}

.flex {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;

}

#tweet-quote {
    margin-left: 5%;
    padding: 1.2em;
    

}

#new-quote {
    margin-left: auto;
    color: #fff;
    border: 0;
    padding: 1.2em;
    border-radius: 8px;
    cursor: pointer;
  }
 



#text {
    font-family: 'Delius Swash Caps', cursive;
    padding: 1.2em;
}

#author {
    font-size: 1.1em;
    margin-left: auto;
    margin-right: 2em;
    padding-bottom: 1em;

}